@CHARSET "UTF-8";

/* select_menu要素
----------------------------------------------------------- */
#select_menu{
  width:848px;
  margin-left:auto;
  margin-right:auto;
  background:#72BBF0;
  border-bottom: 5px solid #4169e1;
  border-radius: 6px;
  }


#menu{margin-left:0px;
 		padding: 0px;
 		margin:0px;
		background:#4169e1;

 }

#menu li {
  list-style:none;
  text-align:center;
  background-color:#FFFFFF;
  position:relative ;
  color:#222222;

/* display:inline-block;*/
  float:left;
  margin-right:auto;
  margin-left:auto;
  padding-top:8px;
  padding-bottom:5px;
  width: 210px;
  hight: 20px;
  border: solid 1px #4169e1;
  font-weight: bold;
list-style-position: inside;


}

#menu li:hover {
  color: #FFFFFF;
  background:#4169e1;
}



/* メニューの中身----------------------------------------------------------- */
#menu li ul {
  display: none;
  position: absolute;
  top: 30px;
  left: 1px;
  hight:5px;
  padding: 5px;
  width: 200px;
  background: #eee;
  border: solid 0.5px #ccc;
  }


#menu li ul li {
  margin: 0;
  padding: 1px;
  width: 200px;
  border: none;
}
#menu li ul li a {
  display: inline-block;
  width: 200px;
  height: 20px;
}
#menu li ul li a:hover {
  background: #E6FFE9;
  color: #0000FF;
  border:solid 0.5px #ccc;
}
#menu * {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* header要素
----------------------------------------------------------- */

#header{
background-color:#FFFFFF;
width:848px;
height:80px;
margin-left:auto;
margin-right:auto;
}

input[type=button]{
 padding: 5px; /*ボタン内の余白*/
 hight:auto;
 width:auto;
 margin-top:15px;
/* margin-left:20px;*/
 background: #4169e1;
 border-radius:5px;
background:-webkit-gradient(linear, left top, left bottom, from(#FFF), to(#72BBF0)); /*グラデーション*/
 background:-webkit-linear-gradient(#FFF, #72BBF0); /*同上*/
 background:linear-gradient(#FFF, #72BBF0);   /*同上*/
/* font-size: 16px; /*文字サイズ*/

}
input[type=submit]{
 padding: 5px; /*ボタン内の余白*/
 hight:auto;
 width:auto;
/* margin-top:15px;
 margin-left:20px;*/
 background: #f69;
 border-radius:5px;
 background:-webkit-gradient(linear, left top, left bottom, from(#fcc), to(#f69)); /*グラデーション*/
 background:-webkit-linear-gradient(#fcc, #f69); /*同上*/
 background:linear-gradient(#fcc, #f69);   /*同上*/
 /*font-size: 16px; /*文字サイズ*/
}


#login_name{
text-align:right;
padding:5px;
float:right;
margin-top:25px;
padding:5px;
font-size:1em;
}

/* body,main要素
----------------------------------------------------------- */
body{
width:1200px;
background-color:#F0F8FF;
margin-left : auto ;
margin-right : auto ;

}
#main{
background-color:#FFFFFF;
width:848px;
hight:auto;
margin-left:auto;
margin-right:auto;
/*patting:40px;*/

      overflow:hidden;
}

#border{
width:848px;
  margin:60px 0px 5px 0px;
  border: none;
  border: solid 2px #4169e1;
}



/*タイトル表示
----------------------------------------*/
#title{
width:848px;
hight:30px;
margin:30px 0px 5px 0px;
  background:#FFFFFF;
text-align: center;
border:5px;
font-size:1.5em;
}



/* 進捗確認ページで使うスタイル
--------------------------------------------*/
#syorui{
width:700px;
margin-top:70px;
margin-left:50px;
text-align: center;
font-size:1.7em;

background:#72BBF0;
color:#FFF;
padding:15px;
border:2px dashed rgba(255,255,255,0.5);
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
box-shadow:0 0 0 5px #72BBF0,0 2px 3px 5px rgba(0,0,0,5);
-moz-box-shadow:0 0 0 5px #72BBF0, 0 2px 3px 5px rgba(0,0,0,5);
-webkit-box-shadow:0 0 0 5px #72BBF0, 0 2px 3px 5px rgba(0,0,0,5);
}

#img1{
width:848px;
height:70px;
      overflow:hidden;
margin-top:75px;
text-align:center;
}

#img2{
width:848px;
height:70px;
      overflow:hidden;
margin-top:50px;
text-align:center;
}


#nouhin_button{
width:150px;
height:50px;
      overflow:hidden;
margin-top:10px;
margin-left:180px;
}


#shounin{
width:750px;
margin-top:70px;
margin-left:20px;
font-size:1.4em;
padding:20px;
background:#FFF;
box-shadow:0 0 50px #4169e1 inset,10px 5px 0 #cecece;
-moz-box-shadow:0 0 50px #4169e1 inset,10px 5px 0 #cecece;
-webkit-box-shadow:0 0 50px #4169e1 inset,10px 5px 0 #cecece;
}


#kakunin{
width:170px;
height:30px;
      overflow:hidden;
margin-top:7px;
margin-left:280px;
float:left;
}

#mitumori_now{
width:170px;
height:30px;
      overflow:hidden;
margin-top:7px;
margin-left:10px;
float:left;
}

#mitumori_fin{
width:170px;
height:30px;
      overflow:hidden;
margin-top:7px;
margin-left:10px;
}

/*-------------------------------------------*/


/*ソート
------------------------------------------------
年月検索*/
#period_sort{
float:right;
width:370px;
height:70px;
border-style: solid;
border-width: 1px;
margin:20px 20px 5px 5px;
padding:6px;
text-align=:eft;

background:#B0C4DE;
color:#333;
padding:15px;
border:2px dashed rgba(0,0,0,0.5);
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
box-shadow:0 0 0 5px #B0C4DE,0 2px 3px 5px rgba(0,0,0,5);
-moz-box-shadow:0 0 0 5px #B0C4DE, 0 2px 3px 5px rgba(0,0,0,5);
-webkit-box-shadow:0 0 0 5px #B0C4DE, 0 2px 3px 5px rgba(0,0,0,5);
}



/*検索
----------------------------------------------
  製作物ナンバー */
#number_search{
float:left;
width:350px;
height:70px;
border-width: 1px;
margin:20px 5px 5px 20px;
padding:6px;
text-align:left;

background:#B0C4DE;
color:#333;
padding:15px;
border:2px dashed rgba(0,0,0,0.5);
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
box-shadow:0 0 0 5px #B0C4DE,0 2px 3px 5px rgba(0,0,0,5);
-moz-box-shadow:0 0 0 5px #B0C4DE, 0 2px 3px 5px rgba(0,0,0,5);
-webkit-box-shadow:0 0 0 5px #B0C4DE, 0 2px 3px 5px rgba(0,0,0,5);
}


/*  内容・ジャンル・学校名での検索*/
#things_search{
float:left;
width:775px;
height:70px;
border-style: solid;
border-width: 1px;
margin:20px 20px 5px 20px;
padding:6px;
text-align:left;

background:#B0C4DE;
color:#333;
padding:15px;
border:2px dashed rgba(0,0,0,0.5);
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
box-shadow:0 0 0 5px #B0C4DE,0 2px 3px 5px rgba(0,0,0,5);
-moz-box-shadow:0 0 0 5px #B0C4DE, 0 2px 3px 5px rgba(0,0,0,5);
-webkit-box-shadow:0 0 0 5px #B0C4DE, 0 2px 3px 5px rgba(0,0,0,5);
}

#kensaku{
	width:300px;
	hight:250px;
    position: relative;
    padding: 15px;
    color: #000;
    background: #A4C6FF;
    overflow: hidden;
    float:left;
    margin:2em 2em 2em 3em;
}
#kensaku:before {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 16px 16px 0 0;
    border-style: solid;
    border-color: #fff;
    border-top-color: #6927FF;
    box-shadow: 0 1px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.4);
}