@CHARSET "UTF-8";

/* select_menu要素
----------------------------------------------------------- */
#select_menu{
  width:848px;
  margin-left:auto;
  margin-right:auto;
  background:#72BBF0;
  }

#menu{margin-left:0px;
 		padding: 0px;
 		margin:0px;
		background:#4169e1;
 }

#menu li {
  list-style:none;
  text-align:center;
  background-color:#FFFFFF;
  position:relative ;
  color:#222222;

/* display:inline-block;*/
  float:left;
  margin-right:auto;
  margin-left:auto;
  padding-top:8px;
  padding-bottom:5px;
  width: 210px;
/*  height: 20px;*/
  border: solid 1px #4169e1;
  font-weight: bold;
list-style-position: inside;


}

#menu li:hover {
  color: #FFFFFF;
  background:#4169e1;
}



/* メニューの中身----------------------------------------------------------- */
#menu li ul {
  display: none;
  position: absolute;
  top: 30px;
  left: 1px;
  hight:5px;
  padding: 5px;
  width: 200px;
  background: #eee;
  border: solid 1px #ccc;
}


#menu li ul li {
  margin: 0;
  padding: 1px;
  width: 200px;
  border: none;
}
#menu li ul li a {
  display: inline-block;
  width: 200px;
  height: 20px;
}
#menu li ul li a:hover {
  background: #E6FFE9;
  color: #0000FF;
  border:solid 1px #ccc;
}

/* header要素
----------------------------------------------------------- */

#header{
background-color:#FFFFFF;
width:848px;
height:80px;
margin-left:auto;
margin-right:auto;
}

input[type=button]{
 padding: 5px; /*ボタン内の余白*/
 background: #4169e1;
 background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#72BBF0)); /*グラデーション*/
 background: -webkit-linear-gradient(#FFF, #72BBF0); /*同上*/
 background: linear-gradient(#FFF, #72BBF0);   /*同上*/
 font-size: 16px; /*文字サイズ*/

/*border : solid 1px #000000;
margin-top:20px;
margin-left:15px;
vertical-align:middle;
float: left;
padding:5px;
border-width : 1px;
border-padding:5px;
color:#000000;
*/
}

#login_name{
text-align:right;
padding:20px;
float:right;
margin-top:25px;
padding:5px;
font-size:1em;
}

/* body,main要素
----------------------------------------------------------- */
body{
width:1200px;
background-color:#F0F8FF;
margin-left : auto ;
margin-right : auto ;

}
#main{
background-color:#FFFFFF;
width:848px;
hight:auto;
margin-left:auto;
margin-right:auto;
/*patting:40px;*/

      overflow:hidden;
}

#border{
width:848px;
  margin:60px 0px 5px 0px;
  border: none;
  border: solid 2px #4169e1;
}



/*タイトル表示
----------------------------------------*/
#title{
width:848px;
hight:30px;
margin:30px 0px 5px 0px;
  background:#FFFFFF;
text-align: center;
border:5px;
font-size:1.5em;
}


/*書類名の出力
---------------------------------------*/
#syorui{
width:848px;
margin-top:70px;
text-align: center;
font-size:1.5em;
}



/* 画像
--------------------------------------------*/
#img1{
width:848px;
height:70px;
      overflow:hidden;
margin-top:75px;
text-align:center;
}

#img2{
width:848px;
height:70px;
      overflow:hidden;
margin-top:50px;
text-align:center;
}




/*進捗更新ボタン
---------------------------------------------------*/

#nouhin_button{
width:150px;
height:50px;
      overflow:hidden;
margin-top:10px;
margin-left:180px;
}


/*ソート
------------------------------------------------*/
#sort{
margin-left:25px;
width:50%;
padding:4px;
float:left;
  border: solid 2px #ccc;
}
/*検索
----------------------------------------------*/
#search{
margin-right:20px;
width:auto;
float:right;
	border: solid 2px #ccc;
}
