@CHARSET "UTF-8";
.menu ul{
  margin:0;
  padding:0;
  margin-left:11em;
}
.menu ul li {
  list-style: none;
  margin:0;
  padding:0;
  font-size:14px;
  float:left;
  position: relative;
  width: 210px;/*親メニューの幅*/
  height: 40px;/*親メニューの高さ*/
  line-height: 40px;
  background:#F0F8FF;/*親メニューの背景色*/
  color: #4D4D4D;/*親メニューの文字色*/
  text-align:center;
  font-weight:bold;
  border-bottom: 2px solid #4169e1;
   border-right: 1px solid #4169e1;
   border-left: 1px solid #4169e1;
   border-radius: 4px 4px 1px 1px;

}
.menu ul li a {
  color: #4D4D4D;
  display: block;
  text-decoration: none;
}
.menu ul li:hover, .menu ul li a:hover {
  background:#4169e1;/*ホバー時の親メニューの背景色*/
  color:#fff;/*ホバー時の親メニューの文字色*/
}
.menu ul li ul {
  position: absolute;
  top: 40px;/*親メニューの高さと同じにする*/
  width: 100%;
  z-index: 100;
  margin-left:0;
}
.menu ul li ul li {
  visibility: hidden;
  overflow: hidden;
  width: 100%;/*サブメニューの幅*/
  height: 0;
  background:#F0F8FF;/*サブメニューの背景色*/
/*   border-bottom: 2px solid #4169e1; */
}
.menu ul li ul li:hover, .menu ul li ul li a:hover {
  background:#4169e1;/*ホバー時のサブメニューの背景色*/
}
.menu ul li:hover ul li, .menu ul li a:hover ul li{
  visibility: visible;
  overflow: visible;
  height:40px;/*サブメニューの高さ*/
  z-index: 10;
}
.menu * {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}




/* header要素
----------------------------------------------------------- */

#header{
background-color:#FFF;
float:center;
width:70%;
height:80px;
margin:auto;
margin-bottom:20px;
border-radius: 7px 7px 7px 7px;
}

#logo{
/* 	width:300px; */
	margin-left:20%;
	margin-top:3%;
}
input[type=button]{
 padding: 5px; /*ボタン内の余白*/
/*  hight:auto; */
/*  width:auto; */
/*  margin-top:15px; */
/* margin-left:20px;*/
 background: #4169e1;
 border-radius:5px;
background:-webkit-gradient(linear, left top, left bottom, from(#FFF), to(#72BBF0)); /*グラデーション*/
 background:-webkit-linear-gradient(#FFF, #72BBF0); /*同上*/
 background:linear-gradient(#FFF, #72BBF0);   /*同上*/
/* font-size: 16px; /*文字サイズ*/

}
input[type=submit]{
 padding: 5px; /*ボタン内の余白*/

/* margin-top:15px;
 margin-left:20px;*/
 background: #f69;
 border-radius:5px;
 background:-webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FFAD90)); /*グラデーション*/
 background:-webkit-linear-gradient(#FFF, #FFAD90); /*同上*/
 background:linear-gradient(#FFF, #FFAD90);   /*同上*/
 /*font-size: 16px; /*文字サイズ*/
}


#login_name{
text-align:right;
padding:5px;
float:right;
margin-top:4%;
margin-left:15%;
padding:5px;
font-size:1em;
}

/* body,main要素
----------------------------------------------------------- */
body{
width:1200px;
hight:auto;
margin-left : auto ;
margin-right : auto ;
/* background:-webkit-gradient(linear, left top, left bottom, from(#72BBF0), to(#F0F8FF)); グラデーション */
/* background:-webkit-linear-gradient(#72BBF0, #F0F8FF); 同上 */
/* background:linear-gradient(#72BBF0, #F0F8FF);   同上 */
background:#8EB8FF;
}
#main{
background-color:#FFFFFF;
width:70%;
hight:auto;
margin:auto;
/*patting:40px;*/
border-radius: 1px 1px 15px 15px;
      overflow:hidden;
}

#border{
width:848px;
  margin:60px 0px 5px 0px;
  border: none;
  border: solid 2px #4169e1;
}



/*タイトル表示
----------------------------------------*/
#title{
width:848px;
hight:30px;
margin:30px 0px 5px 0px;
  background:#FFFFFF;
text-align: center;
border:5px;
font-size:1.5em;
}



/* 進捗確認ページで使うスタイル
--------------------------------------------*/
#syorui{
width:700px;
margin-top:70px;
margin-left:50px;
text-align: center;
font-size:1.7em;

background:#72BBF0;
color:#FFF;
padding:15px;
border:2px dashed rgba(255,255,255,0.5);
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
box-shadow:0 0 0 5px #72BBF0,0 2px 3px 5px rgba(0,0,0,5);
-moz-box-shadow:0 0 0 5px #72BBF0, 0 2px 3px 5px rgba(0,0,0,5);
-webkit-box-shadow:0 0 0 5px #72BBF0, 0 2px 3px 5px rgba(0,0,0,5);
}

#img1{
width:848px;
height:70px;
      overflow:hidden;
margin-top:75px;
text-align:center;
}

#img2{
width:848px;
height:70px;
      overflow:hidden;
margin-top:50px;
text-align:center;
}


#nouhin_button{
width:150px;
height:50px;
      overflow:hidden;
margin-top:10px;
margin-left:180px;
}


#shounin{
/* width:750px; */
/* margin-top:70px; */
/* margin-left:20px; */
font-size:1.4em;
padding:20px;
background:#FFF;
box-shadow:0 0 50px #4169e1 inset,10px 5px 0 #cecece;
-moz-box-shadow:0 0 50px #4169e1 inset,10px 5px 0 #cecece;
-webkit-box-shadow:0 0 50px #4169e1 inset,10px 5px 0 #cecece;
}


#kakunin{
width:170px;
height:30px;
      overflow:hidden;
margin-top:7px;
margin-left:280px;
float:left;
}

#mitumori_now{
width:170px;
height:30px;
      overflow:hidden;
margin-top:7px;
margin-left:10px;
float:left;
}

#mitumori_fin{
width:170px;
height:30px;
      overflow:hidden;
margin-top:7px;
margin-left:10px;
}

/*-------------------------------------------*/


/*ソート
------------------------------------------------
年月検索*/
#period_sort{
float:right;
width:370px;
height:70px;
border-style: solid;
border-width: 1px;
margin:20px 20px 5px 5px;
padding:6px;
text-align=:eft;

background:#B0C4DE;
color:#333;
padding:15px;
border:2px dashed rgba(0,0,0,0.5);
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
box-shadow:0 0 0 5px #B0C4DE,0 2px 3px 5px rgba(0,0,0,5);
-moz-box-shadow:0 0 0 5px #B0C4DE, 0 2px 3px 5px rgba(0,0,0,5);
-webkit-box-shadow:0 0 0 5px #B0C4DE, 0 2px 3px 5px rgba(0,0,0,5);
}



/*検索
----------------------------------------------
  製作物ナンバー */
#number_search{
float:left;
width:350px;
height:70px;
border-width: 1px;
margin:20px 5px 5px 20px;
padding:6px;
text-align:left;

background:#B0C4DE;
color:#333;
padding:15px;
border:2px dashed rgba(0,0,0,0.5);
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
box-shadow:0 0 0 5px #B0C4DE,0 2px 3px 5px rgba(0,0,0,5);
-moz-box-shadow:0 0 0 5px #B0C4DE, 0 2px 3px 5px rgba(0,0,0,5);
-webkit-box-shadow:0 0 0 5px #B0C4DE, 0 2px 3px 5px rgba(0,0,0,5);
}


/*  内容・ジャンル・学校名での検索*/
#things_search{
float:left;
width:775px;
height:70px;
border-style: solid;
border-width: 1px;
margin:20px 20px 5px 20px;
padding:6px;
text-align:left;

background:#B0C4DE;
color:#333;
padding:15px;
border:2px dashed rgba(0,0,0,0.5);
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
box-shadow:0 0 0 5px #B0C4DE,0 2px 3px 5px rgba(0,0,0,5);
-moz-box-shadow:0 0 0 5px #B0C4DE, 0 2px 3px 5px rgba(0,0,0,5);
-webkit-box-shadow:0 0 0 5px #B0C4DE, 0 2px 3px 5px rgba(0,0,0,5);
}

#kensaku{
	width:300px;
	hight:250px;
    position: relative;
    padding: 15px;
    color: #000;
    background: #A4C6FF;
    overflow: hidden;
    float:left;
    margin:2em 2em 2em 3em;
}
#kensaku:before {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 16px 16px 0 0;
    border-style: solid;
    border-color: #fff;
    border-top-color: #6927FF;
    box-shadow: 0 1px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.4);
}